$body-blue: rgb(195, 212, 230);
$hover-yelow: #f6b93b;
$hover-red:#b3351f;
$black-border:rgb(14, 43, 68);
$font-black:black;
$font-white:white;
$background-white:white;
$border-field:rgb(68, 135, 194);
$ship-blue:rgb(68, 135, 194);
$destroyed-black:black;
$hit-red: rgb(168, 20, 20);
$missed-grey: rgb(129, 129, 129);