.container{

}
.titleBox{

}
.boardsContainer{

}
.gameBox{
    
}
.boxHeader{
    
}
.gameBoard{
    position:relative;
    width:500px;
    height:500px;
}
.singleField{
    border: 1px solid rgb(72, 159, 231);
    position: absolute;
	width:50px;
	height:50px;
}
.missed{
    background-color:rgb(129, 129, 129) ;
}
.hit{
    background-color:rgb(168, 20, 20) ;
}
.destroyed{
    background-color:rgb(7, 7, 7) ;
}
.ship{
    background-color:rgb(31, 51, 68);
}
#shipGarage{
    display: flex;
    border: 1px solid rgb(4, 46, 80);
    flex-direction: column;
    width:300px;
    height:200px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.singleGarageSpot{
    width: 150px;
    height:30;
    
}
.shipDiv{
    position: absolute;
    
}
.partOfShip{
    position: absolute;
    width:30px;
    height:30px;
    border: 1px solid rgb(72, 159, 231);
}
